.dashboard_container {
    position: relative;
    display: grid;
    width: calc(100% - 350px);
    gap: 15px;
    top: 70px;
    padding-bottom: 20px;
    margin: 0 325px;
    transition: 1s ease;
}

.dashboard_container_toggle {
    margin: 0 175px;
}

.pagination_btn {
    background: #013F7C;
    padding: 8px;
    color: #fff;
    border: 1px solid #013F7C;
    border-radius: 5px;
    cursor: pointer;
}

.pagination_btn:disabled {
    background: #013e7c34;
    padding: 8px;
    cursor: unset;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.pagination_btn_prev_next {
    background: #013F7C;
    padding: 8px;
    color: #fff;
    border: 1px solid #013F7C;
    border-radius: 5px;
    cursor: pointer;
}


.dashboard_container .dashboard_card {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #999;
}

.dashboard_container_link {
    text-decoration: none;
    color: black;
    z-index: 1;
}

.dashboard_messageOk {
    position: fixed;
    right: 40px;
    z-index: 9999;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(235, 255, 235);
    color: green;
    border: 1px solid green;
}

.dashboard_messageError {
    position: fixed;
    right: 0;
    left: 40px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 237, 237);
    color: red;
    border: 1px solid red;
}

.dashboard_container .dashboard_card:hover {
    box-shadow: 0px 0px 3px 0px #999;
}

.dashboard_container .dashboard_card .dashboard_card_container {
    display: flex;
    justify-content: space-between;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_options {
    display: grid;
    gap: 1rem;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_options .dashboard_options_top {
    display: 'flex';
    gap: '10px';
    align-items: 'center';
    justify-content: "flex-end"
}


.dashboard_container .dashboard_card .dashboard_card_container .dashboard_options .icon {
    font-size: 25px;
    color: #444;
    z-index: 999;
    position: relative;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_options .icon:hover {
    color: #00235c;
    cursor: pointer;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_image_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_image_container .dashboard_title_container {
    display: grid;
    gap: 1rem;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_image_container .dashboard_title_container h3 {
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis'
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_image_container .dashboard_title_container p {
    font-size: 12px;
}

.dashboard_container .dashboard_card .dashboard_card_container .dashboard_image_container .dashboard_image {
    padding: 5px;
    border: 1px solid #999;
    width: 80px;
    border-radius: 5px;
}