.new_container {
    position: relative;
    display: grid;
    gap: 1rem;
    width: 780px;
    top: 80px;
    left: 15%;
    overflow: auto;
    transition: 1s ease;
    padding: 10px;
}

.new_container_toggle {
    position: relative;
    top: 80px;
    left: 25%;
    width: 900px;
    padding: 10px;
}

.new_container .new_error {
    position: fixed;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    right: 60px;
    background: rgb(255, 237, 237);
}

.new_container .new_ok {
    position: fixed;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
    right: 60px;
    background: rgb(239, 255, 239);
}

.new_container .new_title {
    display: grid;
    gap: 5px;
    width: 100%;
}

.new_container .new_title input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.new_container .new_title label:first-child {
    font-weight: bold;
}

.new_container .new_title label:nth-child(2) {
    font-size: 12px;
}

.new_container .new_content {
    display: grid;
    gap: 5px;
}

.new_container .new_content label:first-child {
    font-weight: bold;
}

.new_container .new_content label:nth-child(2) {
    font-size: 12px;
}

.new_container .new_btn_publish button:first-child {
    width: 100%;
    padding: 10px;
    background: #013F7C;
    border: none;
    color: #fff;
}

@media(max-width: 2620px) {
    .new_container {
        width: calc(780px);
        left: 34%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 40%;
    }
}

@media(max-width: 2220px) {
    .new_container {
        width: calc(780px);
        left: 30%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 38%;
    }
}

@media(max-width: 1800px) {
    .new_container {
        width: calc(780px);
        left: 27%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 36%;
    }
}

@media(max-width: 1750px) {
    .new_container {
        width: calc(780px);
        left: 25%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 35%;
    }
}

@media(max-width: 1560px) {
    .new_container {
        width: calc(780px);
        left: 23%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 33%;
    }
}

@media(max-width: 1430px) {
    .new_container {
        width: calc(780px);
        left: 20%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 32%;
    }
}

@media(max-width: 1345px) {
    .new_container {
        width: calc(780px);
        left: 20%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 30%;
    }
}

@media(max-width: 1220px) {
    .new_container {
        width: calc(780px);
        left: 16%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 30%;
    }
}

@media(max-width: 1190px) {
    .new_container {
        width: calc(780px);
        left: 15%;
    }

    .new_container_toggle {
        width: calc(780px);
        left: 15%;
    }
}

@media(max-width: 1024px) {
    .new_container {
        width: calc(100%);
        left: 0%;
    }

    .new_container_toggle {
        width: calc(100%);
        left: 0%;
    }
}