.admin_main {
    position: fixed;
    margin-left: 0px;
    width: calc(100% - 300px);
    left: 300px;
    padding: 10px 20px;
    background: #fff;
    transition: 0.3s ease;
    z-index: 999;
    border-bottom: 1px solid #999;
}

.admin_main.admin_main_toggle {
    width: 100%;
    left: 0px;
}

.admin_main .admin_main_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin_main .admin_main_navbar .admin_main_navbar_menu_icon {
    font-size: 20px;
    cursor: pointer;
}

.admin_main .admin_main_navbar .admin_main_search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin_main .admin_main_navbar .admin_main_search input:first-child {
    padding: 5px 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 50px;
}

.admin_main .admin_main_navbar .admin_main_search a {
    display: flex;
    align-items: center;
}

.admin_main .admin_main_navbar .admin_main_search .admin_main_search_icon {
    font-size: 20px;
}

.admin_main .admin_main_navbar a {
    border-radius: 50%;
}

.admin_main .admin_main_navbar a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.admin_main .admin_main_navbar .admin_main_navbar_btn_view {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.admin_main .admin_main_navbar .admin_main_navbar_btn_view:hover {
    color: #287bff;
    background: transparent;
    border: 1px solid #287bff;
}

.admin_main .admin_main_navbar .admin_main_navbar_btn_publish {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    border: none;
    background: #287bff;
    text-align: center;
    cursor: pointer;
}

.admin_main .admin_main_navbar .admin_main_navbar_btn_publish:disabled {
    background: #bfd7ff;
    border: none;
    cursor: unset;
    color: #0040ad;
}