.carousel_container {
    height: 550px;
    display: flex;
    align-items: center;
    padding: 0% 5%;
    gap: 20px;
    background: #f7f7f7;
    gap: 80px;
}

.carousel_container div:first-child {
    max-width: 500px;
    max-height: 500px;
    left: 0px;
}

.carousel_container .carousel_title {
    display: grid;
    gap: 1rem;
    text-align: left;
}

.carousel_container .carousel_title p:first-child {
    font-weight: bold;
    font-size: 40px;
}

.carousel_container .carousel_title a {
    text-decoration: none;
    color: #fff;
    background: #287bff;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    text-align: center;
}