.carousel{
    margin: 0 auto;
    width: 100%;
}

.carousel_container {
    height: 600px;
    position: relative;
    display: flex;
    padding: 90px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #f7f7f7;
    gap: 100px;
}

.carousel_container div:first-child {
    max-width: 500px;
    max-height: 500px;
    left: 0px;
}

.carousel_container .carousel_title {
    display: grid;
    gap: 1rem;
    text-align: left;
}

.carousel_container .carousel_title p:first-child {
    font-weight: bold;
    width: 500px;
    font-size: 40px;
}

.carousel_container .carousel_title a {
    text-decoration: none;
    color: #fff;
    background: #287bff;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    text-align: center;
}
@media(max-width: 1480px){
    .carousel_container {
        height: 600px;
        gap: 30px;
        padding-left: 60px;
        padding-right: 10px;
    }
    .carousel_container div:first-child img{
        width: 100%;
        height: auto;
        left: 0px;
    }
    .carousel_container .carousel_title p:first-child {
        font-weight: bold;
        width: 100%;
        font-size: 40px;
    }
}
@media(max-width: 960px){
    .carousel_container {
        padding-left: 30px;
    }
}
@media(max-width: 650px){
    .carousel_container {
        height: 750px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 180px;
    }
    .carousel_container .carousel_title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        justify-content: center;
        margin: 0 auto;
    }
}
@media(max-width: 580px){
    .carousel_container .carousel_title{
        width: 100%;
    }
    .carousel_container .carousel_title a {
        text-decoration: none;
        color: #fff;
        background: #287bff;
        border-radius: 50px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}