.confirmation_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirmation_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 10px;
    box-shadow: 1px 1px 5px #999;
    background: #fff;
    border-radius: 10px;
}


.confirmation_card .confirmation_title {
    display: grid;
    gap: 5px;
    width: 70%;
    text-align: center;
}

.confirmation_card .confirmation_title img:first-child {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.confirmation_card .confirmation_title img {
    text-align: center;
    margin: 0 auto;
}

.confirmation_card .confirmation_title p {
    font-size: 15px;
}

.confirmation_card .confirmation_title .confirmation_inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.confirmation_card .confirmation_title .confirmation_inputs {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.confirmation_card .confirmation_title .confirmation_inputs input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.confirmation_card .confirmation_title .confirmation_inputs input {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.confirmation_card .confirmation_title .confirmation_btn {
    padding: 10px;
    width: 70%;
    background: #287bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

.confirmation_card .confirmation_title .confirmation_btn:disabled {
    padding: 10px;
    width: 70%;
    background: #b0ceff;
    color: #fff;
    border: none;
    cursor: unset;
    border-radius: 5px;
    margin: 10px auto;
}

.confirmation_card .confirmation_title .confirmation_msg {
    padding: 10px;
    margin: 5px;
    border: 1px solid red;
    color: red;
    background: rgb(255, 235, 235);
}

.confirmation_card .confirmation_title .confirmation_resend {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.confirmation_card .confirmation_title .confirmation_resend .confirmation_resend_count {
    color: #287bff;
}

.confirmation_card .confirmation_title .confirmation_resend .confirmation_resend_none {
    display: none;
}

.confirmation_card .confirmation_title .confirmation_btn_resend {

    text-decoration: none;
    color: #287bff;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 15px;
}

.confirmation_card .confirmation_title .confirmation_btn_resend:disabled {
    text-decoration: none;
    color: #999;
    cursor: unset;

}