@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';
}



body {
    background: #fff;
}

.p-space {
    margin-bottom: 20px;
}

.a-space {
    margin-bottom: 20px;
}

.h-space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.li-space {
    margin-bottom: 0px;
    margin-left: 40px;
}

.li-space:last-child {
    margin-bottom: 15px;
    margin-left: 40px;
}

@media(max-width: 780px) {
    .img-600-responsive {
        width: 100%;
        height: auto;
    }
}