@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';
}



body {
    background: #fff;
}

.p-space {
    margin-bottom: 20px;
}
.a-space {
    margin-bottom: 20px;
}
.h-space{
    margin-top: 15px;
    margin-bottom: 15px;
}

.li-space {
    margin-bottom: 0px;
    margin-left: 40px;
}
.li-space:last-child {
    margin-bottom: 15px;
    margin-left: 40px;
}

@media(max-width: 680px) {
    .img-600-responsive {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 780px) {
    .img-600-700-responsive {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 880px) {
    .img-700-800-responsive {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 980px) {
    .img-800-900-responsive {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 1080px) {
    .img-900-1000-responsive {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 1180px) {
    .img-1000-1100-responsive {
        width: 100%;
        height: auto;
    }
}