.iconContainer {
    display: flex;

}

.info {
    position: fixed;
    margin-left: -20px;
    margin-top: 30px;
    background: #00235c;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
}