.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 20px;
}

.ul .logo li {
    list-style: none;
    z-index: 999;
}

.ul .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    z-index: 999;
}

.ul .links a {
    position: relative;
}

.ul .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #287bff;
    transition: width 0.3s ease;
}

.ul .links a:hover::after {
    width: 100%;
}

.ul .links .menu_links_border_bottom {
    display: flex;
    align-items: center;
}

.ul .links .menu_links_border_bottom a {
    color: #287bff;
    padding-bottom: 6px;

    border-bottom: 3px solid #287bff;
    pointer-events: none;
}




.ul .links li a {
    text-decoration: none;
    color: black;
}


.ul .links li:nth-child(2) a {
    display: flex;
    gap: 3px;
    align-items: center;
}

.ul .links li:nth-child(3) a {
    display: flex;
    gap: 3px;
    align-items: center;
}

.ul .user .user_login_register {
    display: flex;
    gap: 1rem;
}

.ul .user .dropdown_container {
    position: absolute;
    height: 0;
    width: 0;
    color: #fff;
    right: 0;
    margin: 10px;
    margin-right: 40px;
    transition: height 0.3s ease-out, width 0.3s ease-out;
    overflow: hidden;
    border-radius: 10px;
    background: #287bff;
}

.ul .user .toggle_dropdown_open {
    position: absolute;
    width: 220px;
    padding: 10px;
    transition: height 0.3s ease-in, width 0.3s ease-in;
}

.ul .user .dropdown_container .dropdown_info a {
    text-decoration: none;
    color: #fff;
}

.ul .user .dropdown_container .dropdown_info p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.ul .user .dropdown_container .dropdown_info p:nth-child(2) {
    font-size: 11px;
    text-align: center;
    font-weight: lighter;
}

.ul .user .dropdown_container .dropdown_info .dropdown_info_container {
    display: grid;
    gap: 1rem;
}

.ul .user .dropdown_container .dropdown_info .dropdown_info_separated {
    display: flex;
    gap: 5px;
    align-items: center;
}

.ul .user .dropdown_container .dropdown_info .dropdown_info_separated.dropdown_info_logout {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 90%;
    border-top: 1px solid white;
    padding: 10px 0px 10px 0px;
}

.ul .user .dropdown_container .dropdown_info .dropdown_info_separated p {
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
}

.ul .user .dropdown_container .dropdown_info .dropdown_info_separated .dropdown_info_separated_icon {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.ul .user .profile_photo {
    border-radius: 50%;
}


.ul .user div .login a {
    color: #287bff;
}

.ul .user div .register a {
    padding: 10px 20px;
    background: #287bff;
    color: #fff;

    border-radius: 50px;
}

.ul .user li {
    list-style: none;
    z-index: 999;
}

.ul .user li a {
    text-decoration: none;
    color: black;

}

/* NAVBAR LATERAL */
.menu_lateral {
    list-style: none;
    position: fixed;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu_image a {
    margin: 60px auto;
}

.menu_lateral.menu_open {
    transform: translateX(0%);
    z-index: 1000;
}

.menu_lateral .menu_image {
    margin: 40px 40px;
    color: #607283;
    font-size: 40px;
}

.menu_lateral .menu_link {
    display: grid;
    gap: 2rem;
    margin: 40px;
}

.menu_lateral .menu_title {
    color: #fff;
    margin: 40px 20px;
    font-weight: bold;
}

.menu_lateral .menu_link div:first-child {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 50px;
}

.menu_lateral .menu_link .menu_links {
    display: grid;
    gap: 1rem;
}

.menu_lateral .menu_link .menu_links .menu_links_backgroud {
    background: #287bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.menu_lateral .menu_link div:first-child li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu_lateral .menu_link div:first-child li a {
    color: #287bff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu_lateral .menu_link div:first-child li .iconHome {
    font-size: 20px;
}

.menu_lateral .menu_link div:nth-child(2) {
    width: 100%;
    display: grid;
    gap: 3px;
}

.menu_lateral .menu_link .menu_container {
    text-align: center;
}

.menu_lateral .menu_link .menu_login {
    text-decoration: none;
    color: #287bff;
    cursor: pointer;
}

.menu_lateral .menu_link .menu_login {
    text-decoration: none;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border: 1px solid #287bff;
    border-radius: 5px;
}

.menu_lateral .menu_link .menu_register {
    text-decoration: none;
    color: #287bff;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.menu_lateral .menu_link li:nth-child(2) {
    text-align: center;
}


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 400px;
    /* Define a parte direita que será clicável */
    background-color: transparent;
    /* Deixe transparente ou adicione uma cor de sobreposição */
    cursor: pointer;
}

.show {
    background-color: #fff;
    width: 400px;
    position: relative;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
}

.menu_btn {
    display: none;
    z-index: 999;
}


@media(max-width: 1024px) {
    .ul .links {
        display: none;
    }

    .user {
        display: none;
    }

    .menu_btn {
        display: block;
        font-size: 40px;
    }
}


@media(max-width: 400px) {
    .menu_lateral {
        width: 100vw;
    }

    .show {
        width: 100%;
    }

    .overlay {
        display: none;
    }
}