.noticia_title h1 {
    width: 100%;
    font-size: 50px;
    color: #111;
    font-weight: 900;
}

.noticia_container {
    padding: 20px;
    max-width: 740px;
    margin: 0 auto;
}

.noticia_comments {
    margin-top: 20px;
    margin-bottom: -20px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    color: #555;
    padding: 20px 0px 20px 0px;
}

.noticia_comments div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.noticia_comments div:hover {
    color: black;
    cursor: pointer;
}

.noticia_comments p {
    font-size: 14px;
}

.noticia_container .noticia_content {
    max-width: 740px;
}

.noticia_container .noticia_content p {
    text-align: center;
}

.noticia_container .noticia_autor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.noticia_container .noticia_autor div {
    display: grid;
    justify-content: space-between;
    gap: 4px;
}

.noticia_container .noticia_autor div p:first-child {
    font-weight: bold;
}

.noticia_container .noticia_autor div p:nth-child(2) {
    font-size: 12px;
}

.noticia_sidebar_comments {
    position: fixed;
    display: flex;
    height: 100vh;
    z-index: 9999;
    right: 0;
    top: 0;
}

.noticia_sidebar_comments .overlay {
    position: fixed;
    width: calc(100% - 420px);
    height: 100vh;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999999;
    transition: 0.3s ease;
    transform: translateX(-100%);
    cursor: pointer;
}

.noticia_sidebar_comments .overlay_toggle {
    transform: translateY(0%);
}

.noticia_sidebar_comments .content {
    position: fixed;
    right: 0;
    width: calc(420px);
    height: 100vh;
    background: white;
    transform: translateX(100%);
    transition: 0.3s ease;
    padding: 40px 40px;
    z-index: 999999;
    cursor: pointer;
    overflow: auto;
}

.noticia_sidebar_comments .content_toggle {
    transform: translateX(0%);
}

.noticia_sidebar_comments .content .grid {
    display: grid;
    gap: 10px;
}

.noticia_sidebar_comments .content .grid .close {
    display: flex;

    justify-content: space-between;
}

.noticia_sidebar_comments .content .grid p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.noticia_sidebar_comments .content .grid textarea {
    padding: 10px;
    border-radius: 5px;
}

.noticia_sidebar_comments .content .grid .grid_comments {
    display: grid;
    gap: 5px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
}

.noticia_sidebar_comments .content .grid .grid_comments .flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.noticia_sidebar_comments .content .grid .grid_comments .flex img{
    border-radius: 50%;
    margin-right: 10px;
}

.noticia_sidebar_comments .content .grid .grid_comments .flex div{
    display: grid;
}
.noticia_sidebar_comments .content .grid .grid_comments .flex div p:first-child{
    font-size: 14px;
}
.noticia_sidebar_comments .content .grid .grid_comments .flex div p:nth-child(2){
    font-size: 12px;
    color: #999;
}

.info_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_user .info_user_name{
    display: flex;
    gap: 10px;
    align-items: center;
}
.info_user .info_user_name img{
    border-radius: 50%;
}
.info_btn{
    padding: 5px 10px;
    text-decoration: none;
    background: #287bff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #287bff;
}

.info_btn:disabled{
    background: #c9deff;
    border: 1px solid #c9deff;
    color: #fff;
    cursor:auto;
}

.icon:hover{
    color: #00235c;
}

.messageOk{
    padding: 10px;
    border: 1px solid green;
    background: rgb(247, 255, 247);
    color: green;
    right: 40px;
    border-radius: 10px;
    position: fixed;
}
.messageError{
    padding: 10px;
    border: 1px solid red;
    background: rgb(255, 245, 245);
    color: red;
    right: 40px;
    border-radius: 10px;
    position: fixed;
}

.edit_comment{
    display: flex;
}
.edit_comment button:nth-child(2){
    font-size: 12px;
    background: #287bff;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.edit_comment button:nth-child(2):disabled{
    background: #cee1ff;
    color: #fff;
}
.edit_comment button:nth-child(1){
    font-size: 12px;
    text-align: center;
    background: #999;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

.delete_comment_container{
    position: fixed;
    width: 420px;
    top: 0;
    right: 0;
    height: 100vh;
    scale: 0;
    transition: 0.3s ease;
    z-index: 999999;
}


.delete_comment_container .delete_overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
}

.delete_card{
    padding: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    text-align: center;
    z-index: 9999;
}
.delete_card div{
    display: flex;
    gap: 10px;
}
.delete_card div a{
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}
.delete_card div a:nth-child(2){
    padding: 10px;
    background: rgb(182, 1, 1);
    border-radius: 10px;
    color: #fff;
}
.delete_card div a:nth-child(2):hover{
    background: rgb(153, 0, 0);
}

.delete_comment_container_toggle{
    scale: 1;
}

@media(max-width: 1024px) {
    .noticias_title {
        text-align: center;
    }
}

@media(max-width: 445px) {
    .noticia_sidebar_comments .content{
        width: 100%;
        padding: 30px 30px;
    }
    .delete_comment_container{
        width: 100%;
    }
    .noticia_sidebar_comments .overlay {
        display: none;
    }
}