.user_container {
    position: relative;
    left: 25%;
    top: 400px;
    width: calc(100% - 570px);
    transition: 1s ease;
    overflow: scroll;
}

.user_container.user_container_closed {
    width: calc(100% - 570px);
    left: 15%;
}

.user_container a img {
    border-radius: 50%;
    background: pink;
}


.user_container .user_basic_information {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.user_container .user_basic_information .user_basic_information_container {
    display: grid;
}

.user_container .user_basic_information .user_basic_information_container .user_basic_information_container_name {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.user_basic_information_grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_basic_information_grid input {
    padding: 6px;
    width: 300px;
}


.user_basic_information_grid select {
    padding: 6px;
    width: 300px;
}
.user_basic_information_grid .input_cep:focus {
    border: 2px solid red;
}
.user_basic_information_grid .input_cep:focus {
    border: 2px solid red;
}

.user_basic_information_grid p:first-child {
    font-weight: bold;
}

.user_basic_information_grid p:nth-child(2) {
    font-size: 12px;
}

.user_container_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_container_title .user_container_edit_icon {
    font-size: 25px;
    color: black;
}

.user_container_title .user_container_edit_icon:hover {
    color: #287bff;
}

.user_endereco_container_grid {
    display: grid;
    gap: 2rem;
}

.user_endereco_container_grid .user_endereco_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media(max-width: 3180px) {
    .user_container {
        position: relative;
        left: 15%;
        overflow: auto;
        top: 100px;
        width: calc(100% - 800px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 800px);
        left: 12%;
        top: 100px;
    }

}

@media(max-width: 2825px) {
    .user_container {
        position: relative;
        left: 15%;
        overflow: auto;
        top: 100px;
        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 570px);
        left: 12%;
        top: 100px;
    }

}

@media(max-width: 2400px) {
    .user_container {
        position: relative;
        left: 18%;
        overflow: auto;

        top: 100px;
        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 570px);
        left: 12%;
        top: 100px;
    }

}

@media(max-width: 2100px) {
    .user_container {
        position: relative;
        left: 20%;
        overflow: auto;
        top: 100px;
        width: calc(100% - 500px);
        transition: 1s ease;
    }
}

@media(max-width: 1700px) {
    .user_container {
        position: relative;
        left: 24%;
        overflow: auto;
        top: 100px;
        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 570px);
        left: 15%;
        top: 100px;
    }
}

@media(max-width: 1650px) {
    .user_container {
        position: relative;
        left: 25%;
        top: 100px;
        overflow: auto;
        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 570px);
        left: 15%;
        top: 100px;
    }
}

@media(max-width: 1550px) {
    .user_basic_information_grid input {
        padding: 6px;
        width: 250px;
    }

    .user_container {
        position: relative;
        left: 28%;
        top: 100px;

        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(100% - 570px);
        left: 15%;
        top: 100px;
    }

}

@media(max-width: 1400px) {
    .user_container {
        position: relative;
        left: 30%;
        top: 100px;

        width: calc(100% - 500px);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(70%);
        left: 15%;
        top: 100px;
    }
}

@media(max-width: 1300px) {
    .user_container .user_basic_information .user_basic_information_container .user_basic_information_container_name {
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .user_container {
        position: relative;
        left: 33%;
        top: 100px;

        width: calc(100% - 500px);
        transition: 1s ease;
    }
}

@media(max-width: 1215px) {
    .user_container {
        position: relative;
        left: 32%;
        top: 100px;
        width: calc(100% - 440px);
        transition: 1s ease;
    }

    .user_container .user_basic_information {
        gap: 40px;
    }

}

@media(max-width: 1024px) {
    .user_container {
        position: relative;
        left: 10%;
        top: 100px;
        width: calc(80%);
        transition: 1s ease;
    }

    .user_container.user_container_closed {
        width: calc(80%);
        left: 10%;
        top: 100px;
    }
}

@media(max-width: 520px) {
    .user_container {
        position: relative;
        left: 10%;
        top: 100px;
        width: calc(80%);
        transition: 1s ease;
    }

    .user_container .user_basic_information {
        gap: 10px;
    }
}