.reset_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset_container .reset_card{
    width: 400px;
    background: #fff;
    box-shadow: 0px 0px 1px 0px black;
    display: grid;
    gap: 5px;
    padding: 20px;
}
.reset_container .reset_card img{
    margin: 0 auto;
}
.reset_container .reset_card form{
   display: grid;
   gap: 5px;
}
.reset_container .reset_card input{
    padding: 8px;
}
.reset_container .reset_card button{
    background: #013F7C;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reset_container .reset_card button:disabled{
    background: #013e7c34;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.reset_container .reset_card .reset_error{
    background: rgb(255, 236, 236);
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.reset_container .reset_card .reset_ok{
    background: rgb(232, 255, 232);
    color: green;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

@media(max-width: 410px) {
    .reset_container .reset_card{
        width: 90%;
    }
}
@media(max-height: 570px) {
    .reset_container{
        height: 700px;
    }
}