.sidebar_container{
    position: fixed;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 9999;
    padding: 30px;
    transition: 0.5s ease;
    transform: translateX(-100%);
    background: white;
}

.sidebar_container_toggle{
    transition: 0.5s ease;
    transform: translateX(0%);
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999; 
    visibility: hidden;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s ease;
}

.overlay_toggle{    
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
    visibility: visible;
}

.options{
    display: grid;
    gap: 10px;
}
.options a{
    text-decoration: none;
    color: black;
}

.options div{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 5px;
}
.options div a{
    
}

.options .selected{
    background: #013F7C;
    border-radius: 10px;

    color: #fff;
}
